main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: clamp(var(--spacing-thin), 3dvw, var(--spacing-broad));

  /* pages */
  .auction-page {
    display: flex;
    flex-basis: 100%;
  }

  .general-container {
    display: flex;
    gap: var(--spacing-broad);
    justify-content: space-between;
    max-width: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .content__frame {
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    overflow: hidden;

    & section {
      margin-top: 50px;
    }

    & section:nth-last-child() {
      margin-bottom: 25px;
    }
  }

  .content__frame section:last-child {
    margin-bottom: 25px;
  }

  .content__frame section:first-child {
    margin-top: 25px;
  }

  .content__frame.auction-page {
    flex-basis: 100%;
  }

  .content__frame-under-title {
    margin-bottom: var(--spacing-broad);
  }

  .cards__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: var(--spacing-thin);
  }

  .hidden {
    display: none;
  }

  @media (max-width: 768px) {

    .general-container {
      flex-direction: column;
      align-items: center;
    }

    .image__gallery {
      width: 100%;
    }

    .form-container {
      width: 100%;
      padding: 15px;
    }

    .content__frame.auction-page {
      position: relative;
    }

    .content__frame-filter {
      position: absolute;
    }

    .content__frame-header {
      text-align: center;
    }

  }

  /* AUTRES */

  .title {
    font-family: var(--font-title);
    font-weight: 600;
  }

  .othersSection {
    margin: clamp(var(--spacing-thin), 3dvw, var(--spacing-broad));
  }
}