.footer {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: clamp(var(--spacing-thin), 3dvw, var(--spacing-broad));
  background-color: var(--dark);
  color: var(--light);
  gap: var(--spacing-thinnest);
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 colonnes égales */
  gap: var(--spacing-thin);
  max-width: 100%;
}

.footer__nav-section {
  border: 1px solid var(--light);
  padding: var(--spacing-micro);
  background-color: var(--dark);
}

.accordion-checkbox {
  display: none;
  /* Masque l'input checkbox */
}

.footer__nav-section-title {
  font-size: large;
  cursor: pointer;
  display: block;
  padding: var(--spacing-thin);
  background-color: var(--dark);
  color: var(--light);
  border-bottom: 1px solid var(--light);
}

.footer__nav-section-title:hover {
  background-color: var(--light);
  color: var(--dark);
  transition: background-color 0.3s, color 0.3s;
}

.footer__nav-list {
  max-height: 0;
  /* Cacher les listes par défaut */
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-checkbox:checked~.footer__nav-list {
  max-height: 300px;
  /* Ajuster selon la taille maximale de chaque liste */
}

.footer__nav-item {
  line-height: var(--spacing-thinner);
  padding: var(--spacing-thinner);
}

.footer__nav-item a {
  text-decoration: none;
  color: var(--light);
}

.footer__nav-item a:hover {
  text-decoration: underline;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-thin);
  border-top: 1px solid var(--light);
}

@media (max-width: 600px) {
  .footer__nav {
    grid-template-columns: 1fr;
    /* Une seule colonne pour petits écrans */
  }
}