.stampCard,
.stampCard__gallery {
    display: flex;
    gap: var(--spacing-thin);
    border-radius: var(--radius-medium);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: var(--spacing-thin);
    background-color: var(--secondary);
}

.stampCard__gallery {
    flex-basis: 80%;
    align-items: stretch;
    gap: var(--spacing-thin);
}

/* Image principale */
.stampCard__gallery-figure {
    order: 2;
    position: relative;
    flex-grow: 4;
    max-height: 750px;
    border-radius: var(--radius-medium);
    overflow: hidden;
}

.stampCard__gallery-figure--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.stampCard__gallery-figure--img:hover {
    transform: scale(1.05);
}

/* Miniatures */
.stampCard__gallery-thumbnails {
    min-width: 20%;
    order: 1;
    flex-basis: 200px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 750px;
    gap: var(--spacing-thin);
    scrollbar-width: thin;
    padding: var(--spacing-thin);
    border-radius: var(--radius-medium);
}

.stampCard__gallery-thumbnails--img {
    height: 125px;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: var(--radius-medium);
    transition: opacity 0.3s ease;
}

.stampCard__gallery-thumbnails--img:hover {
    opacity: 0.8;
}

/* Détails de la carte */
.stampCard__box-details {
    flex-basis: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-thin);
}

.stampCard__details-box {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-thinnest);
    border-radius: var(--radius-medium);
    transition: background-color 0.3s ease;
}

.stampCard__details-box--label {
    font-weight: 600;
    color: var(--primary-dark);
}

.stampCard__details-box:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* Description */
.stampCard__desciption {
    flex-direction: column;
    gap: var(--spacing-thinnest);
    padding: var(--spacing-thin);
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: var(--radius-medium);
}

/* Boutons */
.stampCard__button {
    text-align: center;
    border-radius: var(--radius-medium);
    background-color: var(--primary);
    color: var(--tertiary);
    margin-top: var(--spacing-broad);
    padding: var(--spacing-thinnest);
    font-size: var(--font-tall);
    font-weight: 600;
    align-self: center;
    max-width: 35%;
    min-width: 35%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.stampCard__button:hover {
    background-color: var(--tertiary);
    color: var(--primary);
    text-decoration: underline;
    transform: scale(1.05);
}

/* Effet pour la zone d'édition */
.stampCard__auction {
    display: flex;
    justify-content: center;
}

.stampCard__auction a {
    padding: var(--spacing-thinnest);
    border-radius: var(--radius-medium);
    color: var(--tertiary);
    font-weight: 600;
    text-align: center;
    transition: transform 0.3s ease;
}

.stampCard__auction a:hover {
    transform: scale(1.05);
}

.stampCard__gallery-thumbnails--picture {
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    color: var(--primary);
    transition: background-color 0.3s ease;
    z-index: 2;
}

.stampCard__gallery-thumbnails--delete {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--spacing-thinnest);
    background-color: var(--tertiary);
    color: var(--primary);
    transition: background-color 0.3s ease;
    z-index: 2;
}

.stampCard__gallery-thumbnails--delete:hover {
    background-color: var(--primary);
    color: red;
}

/* Responsive mobile et tablette */
@media (max-width: 850px) {
    .stampCard {
        flex-direction: column;
        gap: var(--spacing-thin);
    }

    .stampCard__gallery {
        flex-direction: column;
    }

    .stampCard__gallery-figure,
    .stampCard__gallery-thumbnails {
        max-width: 100%;
    }

    .stampCard__gallery-thumbnails {
        flex-direction: row;
        max-height: 150px;
        overflow-x: auto;
    }

    .stampCard__gallery-thumbnails--img {
        aspect-ratio: 1 / 1;
        width: 125px;
        object-fit: cover;
    }
}

/* Responsive tablette et desktop */

@media (max-width: 1630px) {
    .stampCard__gallery {
        flex-direction: column;
    }

    .stampCard__gallery-figure {
        order: 1;
    }

    .stampCard__gallery-thumbnails {
        order: 2;
        flex-basis: 145px;
        flex-direction: row;
        overflow-x: auto;
        max-height: 750px;
        gap: var(--spacing-thin);
        padding: var(--spacing-thin);
    }
}